// $colorBg: #efefef;
// $colorBtn: #6e9394;
// $colorBtnHover: #a4bcc3;
// $colorText: #414249;

@use 'variables.scss' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        &:hover {
            color: #e1e1e1;
        }
    }
}
